:root{
    background:none transparent;
}

*{
    background:none transparent;
}

html{
    background:none transparent;
}

body{
    background:none transparent;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100vw;
    height:100vh;
}