#animation1 {
  background: url("./animation/ali/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation2 {
  background: url("./animation/ball/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation3 {
  background: url("./animation/chase/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation4 {
  background: url("./animation/chuong/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation5 {
  background: url("./animation/face/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation6 {
  background: url("./animation/flower/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation7 {
  background: url("./animation/fox/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation8 {
  background: url("./animation/gragon/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation9 {
  background: url("./animation/jump/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation10 {
  background: url("./animation/kick/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation11 {
  background: url("./animation/naruto/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation12 {
  background: url("./animation/skadi/thumb.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation13 {
  background: url("./animation/thayuy/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation14 {
  background: url("./animation/thegafiu/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#animation15 {
  background: url("./animation/thor/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}