#commercial1 {
  background: url("./commercial/1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial2 {
  background: url("./commercial/2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial3 {
  background: url("./commercial/3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial4 {
  background: url("./commercial/4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial5 {
  background: url("./commercial/5.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial6 {
  background: url("./commercial/6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial7 {
  background: url("./commercial/7.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial8 {
  background: url("./commercial/8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial9 {
  background: url("./commercial/9.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial10 {
  background: url("./commercial/11.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}