#model1 {
  background: url("./model/1/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model2 {
    background: url("./model/2/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#model3 {
  background: url("./model/3/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model4 {
  background: url("./model/8/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model5 {
  background: url("./model/9/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#model6 {
  background: url("./model/10/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model7 {
    background: url("./model/13/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#model8 {
  background: url("./model/14/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model9 {
  background: url("./model/15/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model10 {
  background: url("./model/17/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#model11 {
  background: url("./model/19/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model12 {
    background: url("./model/20/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#model13 {
  background: url("./model/21/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model14 {
  background: url("./model/22/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model15 {
  background: url("./model/23/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#model16 {
  background: url("./model/24/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model17 {
    background: url("./model/25/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#model18 {
  background: url("./model/26/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model19 {
  background: url("./model/27/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model20 {
  background: url("./model/28/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#model21 {
  background: url("./model/29/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model22 {
    background: url("./model/30/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#model23 {
  background: url("./model/31/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model24 {
  background: url("./model/32/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model25 {
  background: url("./model/33/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#model26 {
  background: url("./model/34/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#model27 {
    background: url("./model/35/thumb.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}