#visual1 {
  background: url("./visual/AEON/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual2 {
  background: url("./visual/AnphabeTrendServey/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual3 {
  background: url("./visual/Bee/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual4 {
  background: url("./visual/BeyoundTheNormAnphabe/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual5 {
  background: url("./visual/BFish/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual6 {
  background: url("./visual/Cover/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual7 {
  background: url("./visual/Dewoo/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual8 {
  background: url("./visual/EvergreenLogoandBottleLabel/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual9 {
  background: url("./visual/KoolMax/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual10 {
  background: url("./visual/MenuDrinkMyThai/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual11 {
  background: url("./visual/MISAWALogoLabelWater/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual12 {
  background: url("./visual/Nami/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual13 {
  background: url("./visual/PosterBEOC/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual14 {
  background: url("./visual/PosterChicilon/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual15 {
  background: url("./visual/PosterSANOFI/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual16 {
  background: url("./visual/SACBanner/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual17 {
  background: url("./visual/SuaBap/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual18 {
  background: url("./visual/Tet/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual19 {
  background: url("./visual/Topaz/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual20 {
  background: url("./visual/TTL/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual21 {
  background: url("./visual/UIDesign/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual22 {
  background: url("./visual/Vinfast/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual23 {
  background: url("./visual/VNBLTW2020Anphabe/thumb.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual24 {
  background: url("./visual/VNBLTW2020PhucLong/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual25 {
  background: url("./visual/VNBPTW2020Social/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual26 {
  background: url("./visual/VNBPTW2020WIPRO/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#visual27 {
  background: url("./visual/YolaAEON/thumb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}